<a href="https://colab.research.google.com/github/karthik-muth/DJ-notebooks/blob/master/news_analysis/env_topics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests as r
import pandas as pd

key_param = '&api-key=test'

content_api = 'https://content.guardianapis.com/search?' + key_param + '&page-size=200'

def get(params):
    response = r.get(content_api + params).json().get('response')    
    total = response.get('total')
    print(total)
    result = response.get('results')
    return result

## Top env topics

In [ ]:
#+ '&q=' i
years_param = '&from-date=2022-05-01&to-date=2022-05-22' # 
# show-tags = '&show-tags=all'
params = years_param + '&section=environment&show-tags=keyword'

In [ ]:
env_tags = []
other_tags = []
tags_count = {}
first_tags = []


for i in result:
    first_tags.append(i.get('tags')[0].get('id'))
    
    for j in i.get('tags'):
       
      id = j.get('id')
      
      if id in tags_count:
        tags_count[id] += 1
      else:
        tags_count[id] = 1

In [ ]:
sorted(tags_count.items(), key=lambda x: x[1], reverse=True)[:20]

[('environment/environment', 153),
 ('uk/uk', 64),
 ('environment/wildlife', 50),
 ('environment/climate-crisis', 49),
 ('world/world', 39),
 ('world/animals', 26),
 ('environment/conservation', 26),
 ('australia-news/australia-news', 21),
 ('uk/ruralaffairs', 21),
 ('us-news/us-news', 20),
 ('environment/birds', 19),
 ('environment/carbon-emissions', 18),
 ('environment/fossil-fuels', 18),
 ('environment/pollution', 18),
 ('business/business', 17),
 ('environment/energy', 16),
 ('environment/farming', 15),
 ('environment/marine-life', 14),
 ('environment/food', 11),
 ('science/science', 11)]

In [ ]:
len(first_tags)

163

## Env topic map

In [139]:
params = '&from-date=2022-05-01&to-date=2022-05-24&section=environment&show-tags=keyword,series'

result = get(params)

183

In [140]:
tags_dict = {}

for i in result:
    tags = i['tags']

    first = tags.pop(0)['id'][12:]
    if first == 'environment/environment':
       first = tags.pop(0).get('id')[12:]

    rest = [j['id'][12:]  for j in tags if j['id'].startswith('environment/') and j['id'] != 'environment/environment']       

    # tag_dict[first] = rest
    if first in tags_dict:
      tags_dict[first] = tags_dict[first] + rest
    else:
      tags_dict[first] = rest

In [162]:
list(tags_dict.items())[0]

('climate-crisis',
 ['fossil-fuels',
  'energy',
  'series/climate-crimes',
  'carbon-emissions',
  'fossil-fuels',
  'energy',
  'oil',
  'series/carbon-bombs-2022',
  'series/environmental-investigations',
  'logging-and-land-clearing',
  'forests',
  'carbon-emissions',
  'carbon-emissions',
  'flooding',
  'fossil-fuels',
  'carbon-emissions',
  'cop27',
  'energy',
  'carbon-emissions',
  'elnino',
  'carbon-emissions',
  'carbonfootprints'])

In [141]:
data = {}
for k,v in tags_dict.items():
  for i in v:
    if (k,i) in data:
      data[(k,i)] = data[(k,i)] + 1
    else:
      data[(k,i)] = 1

In [148]:
df = pd.DataFrame(data = {'s' : [x[0] for x in data.keys()], 't' : [x[1] for x in data.keys()], 'v' : data.values()})
df

                       s                      t  v
0         climate-crisis           fossil-fuels  3
1         climate-crisis                 energy  3
2         climate-crisis  series/climate-crimes  1
3         climate-crisis       carbon-emissions  6
4         climate-crisis                    oil  1
..                   ...                    ... ..
278    series/floodlight         climate-crisis  1
279  series/specieswatch                insects  1
280  series/specieswatch               wildlife  1
281        just-stop-oil               activism  1
282        just-stop-oil                    oil  1

[283 rows x 3 columns]

In [159]:
#list(df.s.unique())
list(df[df.v > 1].s.unique())

['climate-crisis',
 'endangeredspecies',
 'renewableenergy',
 'fossil-fuels',
 'series/our-unequal-earth',
 'series/the-age-of-extinction',
 'series/country-diary',
 'birds',
 'series/seascape-the-state-of-our-oceans',
 'wildlife',
 'insects',
 'fishing',
 'series/pollutionwatch',
 'series/animals-farmed',
 'pollution',
 'food',
 'series/temperature-check',
 'environment',
 'access-to-green-space',
 'invasive-species',
 'airline-emissions',
 'rivers',
 'series/carbon-bombs-2022',
 'series/climate-crimes']

In [167]:
list(df[df.s.str.startswith('series/')].s.unique())

['series/our-unequal-earth',
 'series/the-age-of-extinction',
 'series/weather-tracker',
 'series/country-diary',
 'series/seascape-the-state-of-our-oceans',
 'series/young-country-diary',
 'series/the-road-to-kunming',
 'series/pollutionwatch',
 'series/animals-farmed',
 'series/temperature-check',
 'series/carbon-bombs-2022',
 'series/climate-crimes',
 'series/birdwatch',
 'series/floodlight',
 'series/specieswatch']

## Top env series

In [ ]:
years_param = '&from-date=2022-01-01&to-date=2022-05-22' # 

params = '&section=environment&show-tags=series'

response = r.get(content_api + years_param + params).json().get('response')
print(response.get('pages'))

tags_count = {}

for p in range(1,  response.get('pages') + 1):
  response = r.get(content_api + years_param + params + f'&page={p}').json().get('response')
  result = response.get('results')

  for i in result:
      for j in i.get('tags'):
        
        id = j.get('id')
        
        if id in tags_count:
          tags_count[id] += 1
        else:
          tags_count[id] = 1

6

In [ ]:
sorted(tags_count.items(), key=lambda x: x[1], reverse=True)

[('environment/series/country-diary', 127),
 ('environment/series/the-age-of-extinction', 72),
 ('environment/series/seascape-the-state-of-our-oceans', 53),
 ('environment/series/our-unequal-earth', 23),
 ('environment/series/climate-crimes', 19),
 ('environment/series/animals-farmed', 18),
 ('environment/series/temperature-check', 17),
 ('environment/series/young-country-diary', 11),
 ('commentisfree/series/brief-letters', 9),
 ('environment/series/pollutionwatch', 9),
 ('theguardian/series/otherlives', 9),
 ('environment/series/carbon-bombs-2022', 6),
 ('environment/series/environmental-investigations', 6),
 ('environment/series/the-road-to-kunming', 5),
 ('environment/series/weather-tracker', 5),
 ('environment/series/birdwatch', 5),
 ('news/series/weatherwatch', 4),
 ('lifeandstyle/series/notes-and-queries', 4),
 ('environment/series/specieswatch', 4),
 ('environment/series/down-to-earth', 4),
 ('artanddesign/series/guardian-picture-essay', 3),
 ('environment/series/floodlight', 3),
 ('environment/series/covering-climate-now', 2),
 ('news/series/pass-notes', 2),
 ('global-development/series/rights-and-freedom', 1),
 ('us-news/series/americas-dirty-divide', 1),
 ('global-development/series/opinion--global-development-', 1),
 ('us-news/series/deepwater-horizon', 1),
 ('business/series/viewpointcolumn', 1),
 ('science/series/plantwatch', 1),
 ('world/series/high-seas', 1),
 ('lifeandstyle/series/conversations-with-experts', 1),
 ('news/series/the-long-read', 1),
 ('society/series/guardian-and-observer-charity-appeal-2021', 1),
 ('environment/series/biodiversity--what-happened-next-', 1)]